body {
  font-family: "Verdana"
}

.loginForm {
  padding-top: 15em;
  margin: auto;
  text-align: center;
}

.loginForm input {
  margin-bottom: 2em;
}
.loginForm label {
  margin-right: 0.5em;
}

.spacer10em {
  height: 10em;
}
