{
  "swagger": "2.0",
  "info": {
    "version": "0.0.0",
    "title": "Fullteam"
  },
  "host": "ec2-3-10-51-119.eu-west-2.compute.amazonaws.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],

  "securityDefinitions": {
    "LoginToken": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },

  "paths": {
    "/login": {
      "post": {
        "summary": "Login to Fullteam",
        "description": "Login to Fullteam.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [{
          "in": "body",
          "name": "body",
          "description": "Login parameters",
          "required": false,
          "schema": {
            "type": "object",
            "properties": {
              "LoginType": {
                "type": "integer",
                "description": "0 for normal, \n1 for Facebook login"
              },
              "Email": {
                "type": "string"
              },
              "Password": {
                "type": "string"
              }
            },
            "required": [
              "LoginType",
              "Email",
              "Password"
            ]
          }
        }],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "integer"
                },
                "UserID": {
                  "type": "integer"
                },
                "LoginToken": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },

    "/register": {
      "post": {
        "summary": "Register to Fullteam",
        "description": "Register to Fullteam.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [{
          "in": "body",
          "name": "body",
          "description": "Parameters of registration",
          "required": false,
          "schema": {
            "type": "object",
            "properties": {
              "RegistrationType": {
                "type": "integer",
                "description": "0 for normal, \n1 for Facebook login"
              },
              "Email": {
                "type": "string"
              },
              "GCMID": {
                "type": "string"
              },
              "Positions": {
                "type": "array",
                "items": {
                  "type": "integer"
                }
              },
              "Password": {
                "type": "string"
              },
              "FirstName": {
                "type": "string"
              },
              "LastName": {
                "type": "string"
              },
              "Birthday": {
                "type": "string",
                "description": "format DDMMYYYY"
              },
              "Gender": {
                "type": "integer",
                "description": "1: male, 2: female"
              },
              "MobileNumber": {
                "type": "integer"
              },
              "Lat": {
                "type": "number",
                "description": "current latitude of user"
              },
              "Lon": {
                "type": "number",
                "description": "current longitude of user"
              },
              "Locality": {
                "type": "string"
              },
              "Country": {
                "type": "string"
              }
            },
            "required": [
              "RegistrationType",
              "Email",
              "GCMID",
              "Positions",
              "Password",
              "FirstName",
              "LastName",
              "Birthday",
              "Gender"
            ]
          }
        }],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "integer"
                },
                "description": {
                  "type": "string"
                }
              },
              "required": [
                "success",
                "description"
              ]
            }
          }
        }
      }
    },

    "/location": {
      "post": {
        "summary": "Send user location",
        "description": "Send user location.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [{
          "in": "body",
          "name": "body",
          "description": "Parameters of registration",
          "required": false,
          "schema": {
            "type": "object",
            "properties": {
              "Latitude": {
                "type": "number"
              },
              "Longitude": {
                "type": "number"
              },
              "Locality": {
                "type": "string"
              },
              "Country": {
                "type": "string"
              }
            },
            "required": [
              "Latitude",
              "Longitude",
              "Locality",
              "Country"
            ]
          }
        }],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "integer"
                },
                "description": {
                  "type": "string"
                }
              },
              "required": [
                "success",
                "description"
              ]
            }
          }
        }
      }
    },

    "/settings": {
      "post": {
        "summary": "Set settings of user",
        "description": "Set settings of user (allow comments, allow notifications, searchable",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [{
          "in": "body",
          "name": "body",
          "description": "Parameters of registration",
          "required": false,
          "schema": {
            "type": "object",
            "properties": {
              "CommentsAllowed": {
                "type": "boolean"
              },
              "NotificationsAllowed": {
                "type": "boolean"
              },
              "Searchable": {
                "type": "boolean"
              }
            },
            "required": [
              "CommentsAllowed",
              "NotificationsAllowed",
              "Searchable"
            ]
          }
        }],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "integer"
                },
                "description": {
                  "type": "string"
                }
              },
              "required": [
                "success",
                "description"
              ]
            }
          }
        }
      }
    },

    "/get-settings": {
      "post": {
        "summary": "Get settings of user",
        "description": "Get settings of user",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "integer"
                },
                "CommentsAllowed": {
                  "type": "boolean"
                },
                "NotificationsAllowed": {
                  "type": "boolean"
                },
                "Searchable": {
                  "type": "boolean"
                }
              },
              "required": [
                "success",
                "CommentsAllowed",
                "NotificationsAllowed",
                "Searchable"
              ]
            }
          }
        }
      }
    },

    "/get-profile": {
      "post": {
        "summary": "Get user profile by user ID",
        "description": "Get user profile by user ID",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [{
          "in": "body",
          "name": "body",
          "description": "Parameters of registration",
          "required": false,
          "schema": {
            "type": "object",
            "properties": {
              "UserID": {
                "type": "integer"
              }
            },
            "required": [
              "UserID"
            ]
          }
        }],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "object",
              "properties": {
                "UserID": {
                  "type": "integer"
                },
                "Positions": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "PositionID": {
                        "type": "integer"
                      },
                      "Name": {
                        "type": "string"
                      },
                      "ShortName": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "PositionID",
                      "Name",
                      "ShortName"
                    ]
                  }
                },
                "FirstName": {
                  "type": "string"
                },
                "LastName": {
                  "type": "string"
                },
                "Birthday": {
                  "type": "string"
                },
                "PictureURL": {
                  "type": "string"
                },
                "CoverPictureURL": {
                  "type": "string"
                },
                "AverageFitness": {
                  "type": "integer"
                },
                "AveragePassing": {
                  "type": "number"
                },
                "AverageRating": {
                  "type": "number"
                },
                "AverageShooting": {
                  "type": "number"
                },
                "AverageReliability": {
                  "type": "number"
                },
                "CommentsAllowed": {
                  "type": "boolean"
                },
                "AlreadyRated": {
                  "type": "boolean"
                },
                "Feedbacks": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "fromFirstName": {
                        "type": "string"
                      },
                      "fromLastName": {
                        "type": "string"
                      },
                      "fromID": {
                        "type": "integer"
                      },
                      "passing": {
                        "type": "integer"
                      },
                      "shooting": {
                        "type": "integer"
                      },
                      "fitness": {
                        "type": "integer"
                      },
                      "reliability": {
                        "type": "integer"
                      },
                      "average": {
                        "type": "number"
                      },
                      "feedback": {
                        "type": "string"
                      },
                      "timestamp": {
                        "type": "integer"
                      }
                    },
                    "required": [
                      "fromFirstName",
                      "fromLastName",
                      "fromID",
                      "passing",
                      "shooting",
                      "fitness",
                      "reliability",
                      "average",
                      "feedback",
                      "timestamp"
                    ]
                  }
                },
                "Success": {
                  "type": "integer"
                },
                "Description": {
                  "type": "string"
                },
                "Lon": {
                  "type": "number"
                },
                "Lat": {
                  "type": "number"
                },
                "Locality": {
                  "type": "string"
                },
                "Country": {
                  "type": "string"
                },
                "Gender": {
                  "type": "integer"
                },
                "Age": {
                  "type": "integer"
                },
                "ChatUserID": {
                  "type": "integer"
                },
                "FollowedByCurrentUser": {
                  "type": "boolean"
                }
              },
              "required": [
                "UserID",
                "ChatUserID",
                "FirstName",
                "LastName",
                "Age",
                "Gender",
                "Birthday",
                "PictureURL",
                "CoverPictureURL",
                "AverageFitness",
                "AveragePassing",
                "AverageRating",
                "AverageShooting",
                "AverageReliability",
                "CommentsAllowed",
                "AlreadyRated",
                "Lon",
                "Lat",
                "Locality",
                "Country",
                "Feedbacks",
                "Positions",
                "FollowedByCurrentUser",
                "Success",
                "Description"
              ]
            }
          }
        }
      }
    },

    "/get-regional-rankings": {
      "post": {
        "summary": "Get regional ranking of user",
        "description": "Get regional ranking of user.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [{
          "in": "body",
          "name": "body",
          "description": "Parameters",
          "required": false,
          "schema": {
            "type": "object",
            "properties": {
              "UserID": {
                "type": "integer"
              }
            },
            "required": [
              "UserID"
            ]
          }
        }],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "object",
              "properties": {
                "UserLocation": {
                  "type": "object",
                  "properties": {
                    "lat": {
                      "type": "number"
                    },
                    "lon": {
                      "type": "number"
                    },
                    "locality": {
                      "type": "string"
                    },
                    "country": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "lat",
                    "lon",
                    "locality",
                    "country"
                  ]
                },
                "UserRating": {
                  "type": "number"
                },
                "UserRanking": {
                  "type": "integer"
                },
                "UsersInRegion": {
                  "type": "integer"
                },
                "LeaderBoard": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer"
                      },
                      "FirstName": {
                        "type": "string"
                      },
                      "LastName": {
                        "type": "string"
                      },
                      "PictureURL": {
                        "type": "string"
                      },
                      "Rating": {
                        "type": "number"
                      }
                    },
                    "required": [
                      "id",
                      "FirstName",
                      "LastName",
                      "PictureURL",
                      "Rating"
                    ]
                  }
                },
                "success": {
                  "type": "integer"
                }
              },
              "required": [
                "UserLocation",
                "UserRating",
                "UserRanking",
                "UsersInRegion",
                "LeaderBoard",
                "success"
              ]
            }
          }
        }
      }
    },

    "/get-user-data": {
      "post": {
        "summary": "Get data of user",
        "description": "Get email, picture and birthday of user",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "object",
              "properties": {
                "Email": {
                  "type": "string"
                },
                "PictureURL": {
                  "type": "string"
                },
                "Birthday": {
                  "type": "string"
                },
                "success": {
                  "type": "integer"
                }
              },
              "required": [
                "Email",
                "PictureURL",
                "Birthday",
                "success"
              ]
            }
          }
        }
      }
    },

    "/update-user-data": {
      "post": {
        "summary": "Update data of user",
        "description": "Update firstname, lastname, email, birthday, profile picture or cover picture of user",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [{
          "in": "body",
          "name": "body",
          "description": "Parameters",
          "required": false,
          "schema": {
            "type": "object",
            "properties": {
              "FirstName": {
                "type": "string"
              },
              "LastName": {
                "type": "string"
              },
              "Email": {
                "type": "string"
              },
              "Picture": {
                "type": "string"
              },
              "CoverPicture": {
                "type": "string"
              }
            }
          }
        }],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "integer"
                }
              },
              "required": [
                "success"
              ]
            }
          }
        }
      }
    },

    "/search-players-by-distance": {
      "post": {
        "summary": "Search players by distance",
        "description": "Search players by distance",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [{
          "in": "body",
          "name": "body",
          "description": "Parameters",
          "required": false,
          "schema": {
            "type": "object",
            "properties": {
              "SearchDistance": {
                "type": "integer",
                "description": "Distance near user"
              },
              "MinAge": {
                "type": "integer",
                "description": "Optional - min age to search for"
              },
              "MaxAge": {
                "type": "integer",
                "description": "Optional - max age to search for"
              },
              "MinRating": {
                "type": "number",
                "description": "Optional - min average rating to search for"
              },
              "Positions": {
                "description": "Optional - positions to search for",
                "type": "array",
                "items": {
                  "type": "integer"
                }
              }
            },
            "required": [
              "SearchDistance"
            ]
          }
        }],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "integer"
                },
                "UserList": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Positions": {
                        "type": "array",
                        "items": {
                          "type": "integer"
                        }
                      },
                      "FirstName": {
                        "type": "string"
                      },
                      "LastName": {
                        "type": "string"
                      },
                      "PictureURL": {
                        "type": "string"
                      },
                      "AverageRating": {
                        "type": "null"
                      },
                      "Distance": {
                        "type": "number"
                      },
                      "Online": {
                        "type": "integer"
                      },
                      "LastActive": {
                        "type": "integer"
                      },
                      "Latitude": {
                        "type": "number"
                      },
                      "Longitude": {
                        "type": "number"
                      },
                      "ChatUserID": {
                        "type": "integer"
                      },
                      "UserID": {
                        "type": "integer"
                      },
                      "Age": {
                        "type": "integer"
                      }
                    },
                    "required": [
                      "Positions",
                      "FirstName",
                      "LastName",
                      "PictureURL",
                      "AverageRating",
                      "Distance",
                      "Online",
                      "LastActive",
                      "Latitude",
                      "Longitude",
                      "ChatUserID",
                      "UserID",
                      "Age"
                    ]
                  }
                },
                "description": {
                  "type": "null"
                },
                "Statistics": {
                  "type": "object",
                  "properties": {
                    "PlayersNearBy": {
                      "type": "integer"
                    },
                    "Goalkeepers": {
                      "type": "integer"
                    },
                    "Defenders": {
                      "type": "integer"
                    },
                    "Midfielders": {
                      "type": "integer"
                    },
                    "Attackers": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "PlayersNearBy",
                    "Goalkeepers",
                    "Defenders",
                    "Midfielders",
                    "Attackers"
                  ]
                }
              },
              "required": [
                "success",
                "UserList",
                "description",
                "Statistics"
              ]
            }
          }
        }
      }
    },

    "/search-players-by-name": {
      "post": {
        "summary": "Search players by name of user",
        "description": "Search players by name of user",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [{
          "in": "body",
          "name": "body",
          "description": "Parameters",
          "required": false,
          "schema": {
            "type": "object",
            "properties": {
              "Name": {
                "type": "string"
              }
            },
            "required": [
              "Name"
            ]
          }
        }],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "integer"
                },
                "UserList": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "UserID": {
                        "type": "integer"
                      },
                      "Positions": {
                        "type": "array",
                        "items": {
                          "type": "integer"
                        }
                      },
                      "FirstName": {
                        "type": "string"
                      },
                      "LastName": {
                        "type": "string"
                      },
                      "PictureURL": {
                        "type": "string"
                      },
                      "AverageRating": {
                        "type": "number"
                      },
                      "Distance": {
                        "type": "number"
                      },
                      "Online": {
                        "type": "integer"
                      },
                      "LastActive": {
                        "type": "integer"
                      },
                      "Latitude": {
                        "type": "number"
                      },
                      "Longitude": {
                        "type": "number"
                      },
                      "ChatUserID": {
                        "type": "integer"
                      },
                      "Age": {
                        "type": "integer"
                      }
                    },
                    "required": [
                      "UserID",
                      "Positions",
                      "FirstName",
                      "LastName",
                      "PictureURL",
                      "AverageRating",
                      "Distance",
                      "Online",
                      "LastActive",
                      "Latitude",
                      "Longitude",
                      "ChatUserID",
                      "Age"
                    ]
                  }
                },
                "description": {
                  "type": "null"
                }
              },
              "required": [
                "success",
                "UserList",
                "description"
              ]
            }
          }
        }
      }
    },

    "/rate-user": {
      "post": {
        "summary": "Rate a user",
        "description": "Rate a user",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [{
          "in": "body",
          "name": "body",
          "description": "Parameters",
          "required": false,
          "schema": {
            "type": "object",
            "properties": {
              "UserID": {
                "type": "integer"
              },
              "Passing": {
                "type": "integer"
              },
              "Shooting": {
                "type": "integer"
              },
              "Fitness": {
                "type": "integer"
              },
              "Reliability": {
                "type": "integer"
              },
              "FeedbackMessage": {
                "type": "string"
              }
            },
            "required": [
              "UserID",
              "Passing",
              "Shooting",
              "Fitness",
              "Reliability",
              "FeedbackMessage"
            ]
          }
        }],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "integer"
                },
                "Description": {
                  "type": "string"
                }
              },
              "required": [
                "success",
                "Description"
              ]
            }
          }
        }
      }
    },

    "/get-user-rating": {
      "post": {
        "summary": "Get user rating",
        "description": "Get user rating",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [{
          "in": "body",
          "name": "body",
          "description": "Parameters",
          "required": false,
          "schema": {
            "type": "object",
            "properties": {
              "UserID": {
                "type": "integer"
              }
            },
            "required": [
              "UserID"
            ]
          }
        }],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "object",
              "properties": {
                "PictureURL": {
                  "type": "string"
                },
                "FirstName": {
                  "type": "string"
                },
                "LastName": {
                  "type": "string"
                },
                "Passing": {
                  "type": "integer"
                },
                "Shooting": {
                  "type": "integer"
                },
                "Fitness": {
                  "type": "integer"
                },
                "Reliability": {
                  "type": "integer"
                },
                "AverageRating": {
                  "type": "number"
                },
                "FeedbackMessage": {
                  "type": "string"
                },
                "success": {
                  "type": "integer"
                },
                "description": {
                  "type": "null"
                }
              },
              "required": [
                "PictureURL",
                "FirstName",
                "LastName",
                "Passing",
                "Shooting",
                "Fitness",
                "Reliability",
                "AverageRating",
                "FeedbackMessage",
                "success",
                "description"
              ]
            }
          }
        }
      }
    },

    "/user-birthday": {
      "post": {
        "summary": "Set birthday of user",
        "description": "Set birthday of user, format DDMMYYYY",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [{
          "in": "body",
          "name": "body",
          "description": "Parameters",
          "required": false,
          "schema": {
            "type": "object",
            "properties": {
              "Birthday": {
                "type": "string",
                "description": "Birthday of user, format DDYYMMMM"
              }
            },
          "required": [
              "Birthday"
            ]
          }
        }],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "integer",
                  "description": "0 success, 1 error"
                }
              },
              "required": [
                "success"
              ]
            }
          }
        }
      }
    },

    "/user-gcmid": {
      "post": {
        "summary": "Set GCM ID of user",
        "description": "Set gcm id of user",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [{
          "in": "body",
          "name": "body",
          "description": "Parameters",
          "required": false,
          "schema": {
            "type": "object",
            "properties": {
              "GCMID": {
                "type": "string",
                "description": "GCM ID of user"
              }
            },
            "required": [
              "GCMID"
            ]
          }
        }],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "integer",
                  "description": "0 success, 1 error"
                }
              },
              "required": [
                "success"
              ]
            }
          }
        }
      }
    },

    "/search-games": {
      "post": {
        "summary": "Search games by distance",
        "description": "Search games by distance",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [{
          "in": "body",
          "name": "body",
          "description": "Parameters",
          "required": false,
          "schema": {
            "type": "object",
            "properties": {
              "SearchDistance": {
                "type": "integer",
                "description": "Distance"
              }
            },
            "required": [
              "SearchDistance"
            ]
          }
        }],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "object",
              "properties": {
                "Games": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "UserID": {
                        "type": "integer"
                      },
                      "FirstName": {
                        "type": "string"
                      },
                      "PictureURL": {
                        "type": "string"
                      },
                      "GameID": {
                        "type": "integer"
                      },
                      "MeetingPlace": {
                        "type": "string"
                      },
                      "Description": {
                        "type": "string"
                      },
                      "HasTransport": {
                        "type": "integer"
                      },
                      "GameTime": {
                        "type": "integer"
                      },
                      "GameTitle": {
                        "type": "string"
                      },
                      "TimeCreated": {
                        "type": "integer"
                      },
                      "Distance": {
                        "type": "number"
                      },
                      "Lat": {
                        "type": "integer"
                      },
                      "Lon": {
                        "type": "integer"
                      },
                      "IsCustomVenue": {
                        "type": "integer"
                      },
                      "ApplicationType": {
                        "type": "integer"
                      },
                      "MaxPlayers": {
                        "type": "integer"
                      },
                      "PlayersJoined": {
                        "type": "integer"
                      },
                      "SurfaceType": {
                        "type": "integer"
                      },
                      "AvgAbility": {
                        "type": "integer"
                      },
                      "AvgAge": {
                        "type": "integer"
                      },
                      "Cost": {
                        "type": "integer"
                      },
                      "ShinPads": {
                        "type": "integer"
                      },
                      "GameInvites": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "UserID": {
                              "type": "integer"
                            },
                            "Status": {
                              "type": "string",
                              "description": "available, unavailable or null"
                            },
                            "PictureURL": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    },
                    "required": [
                      "UserID",
                      "FirstName",
                      "PictureURL",
                      "GameID",
                      "MeetingPlace",
                      "Description",
                      "HasTransport",
                      "GameTime",
                      "TimeCreated",
                      "Distance",
                      "Lat",
                      "Lon",
                      "IsCustomVenue",
                      "ApplicationType",
                      "MaxPlayers",
                      "PlayersJoined",
                      "SurfaceType",
                      "AvgAbility",
                      "AvgAge",
                      "Cost",
                      "ShinPads",
                      "GameInvites"
                    ]
                  }
                },
                "success": {
                  "type": "integer",
                  "description": "0 for success, 1 for error"
                }
              },
              "required": [
                "Games",
                "success"
              ]
            }
          }
        }
      }
    },

    "/create-game": {
      "post": {
        "summary": "Create a game",
        "description": "Creates a game. Not associated with any team.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [{
          "in": "body",
          "name": "body",
          "description": "Parameters",
          "required": false,
          "schema": {
            "type": "object",
            "properties": {
              "GameTitle": { "type": "string" },
              "Opponent": { "type": "string" },
              "GameTime": { "type": "integer" },
              "Description": { "type": "string" },
              "IsCustomVenue": { "type": "boolean" },
              "Venue": { "type": "integer" },
              "Lat": { "type": "number" },
              "Lon": { "type": "number" },
              "Public": { "type": "boolean" },
              "Cost": { "type": "number" }
            },
            "required": [ "GameTitle", "Opponent", "GameTime", "Description", 
              "IsCustomVenue", "Lat", "Lon", "Public"]
          }
        }],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "integer",
                  "description": "0: success, 1: error"
                },
                "GameID": {
                  "type": "integer",
                  "description": "ID of the game just created."
                }
              },
              "required": [
                "success"
              ]
            }
          }
        }
      }
    },



    "/invite-to-game": {
      "post": {
        "summary": "Invite player to game",
        "description": "Invite player to game",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
          ],
          "parameters": [{
            "in": "body",
            "name": "body",
            "description": "Parameters",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "GameID": {
                  "type": "integer"
                },
                "UserIDs": {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                }
              },
              "required": [
                "GameID",
                "UserIDs"
              ]
            }
          }],
          "responses": {
            "200": {
              "description": "Successful response",
              "schema": {
                "type": "object",
                "properties": {
                  "success": {
                    "type": "integer",
                    "description": "0: success, 1: error"
                  }
                },
                "required": [
                  "success"
                ]
              }
            }
          }
      }
    },

    "/apply-for-game": {
      "post": {
        "summary": "Apply for a game",
        "description": "Apply for a game",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
          ],
          "parameters": [{
            "in": "body",
            "name": "body",
            "description": "Parameters",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "GameID": {
                  "type": "integer"
                }
              },
              "required": [
                "GameID"
              ]
            }
          }],
          "responses": {
            "200": {
              "description": "Successful response",
              "schema": {
                "type": "object",
                "properties": {
                  "success": {
                    "type": "integer",
                    "description": "0: success, 1: error server, 2: game full, 3: Already applied, 4: already playing"
                  }
                },
                "required": [
                  "success"
                ]
              }
            }
          }
      }
    },

    "/get-game-applications": {
      "post": {
        "summary": "Get game applications",
        "description": "Get game applications",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
          ],
          "parameters": [{
            "in": "body",
            "name": "body",
            "description": "Parameters",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "GameID": {
                  "type": "integer"
                }
              },
              "required": [
                "GameID"
              ]
            }
          }],
          "responses": {
            "200": {
              "description": "Successful response",
              "schema": {
                "type": "object",
                "properties": {
                  "success": {
                    "type": "integer",
                    "description": "0: success, 1: server error"
                  },
                  "description": {
                    "type": "null"
                  },
                  "ApplicationsList": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "UserID": {
                          "type": "integer"
                        },
                        "Positions": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      },
                      "required": [
                        "UserID",
                        "Positions"
                      ]
                    }
                  }
                },
                "required": [
                  "success",
                  "description",
                  "ApplicationsList"
                ]
              }
            }
          }
      }
    },

    "/respond-to-game-invite": {
      "post": {
        "summary": "Respond to game invite",
        "description": "Respond to game invite",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
          ],
          "parameters": [{
            "in": "body",
            "name": "body",
            "description": "Parameters",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "GameID": {
                  "type": "integer"
                },
                "Response": {
                  "type": "integer",
                  "description": "1: accept, 0: reject"
                }
              },
              "required": [
                "GameID",
                "Response"
              ]
            }
          }],
          "responses": {
            "200": {
              "description": "Successful response",
              "schema": {
                "type": "object",
                "properties": {
                  "success": {
                    "type": "integer",
                    "description": "0: success, 1: error server"
                  }
                },
                "required": [
                  "success"
                ]
              }
            }
          }
      }
    },

    "/get-game-invites": {
      "post": {
        "summary": "Get game invites received",
        "description": "Get game invites received",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "integer",
                  "description": "0: Success, 1: Server error"
                },
                "InviteList": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "FromID": {
                        "type": "integer"
                      },
                      "GameID": {
                        "type": "integer"
                      },
                      "Time": {
                        "type": "integer"
                      },
                      "FromFirstName": {
                        "type": "string"
                      },
                      "FromLastName": {
                        "type": "string"
                      },
                      "PictureURL": {
                        "type": "string"
                      },
                      "IsCustomVenue": {
                        "type": "boolean"
                      },
                      "Venue": {
                        "type": "integer"
                      },
                      "Latitude": {
                        "type": "number"
                      },
                      "Longitude": {
                        "type": "number"
                      }
                    },
                    "required": [
                      "FromID",
                      "GameID",
                      "IsCustomVenue",
                      "FromFirstName",
                      "FromLastName",
                      "PictureURL",
                      "Time",
                      "Venue",
                      "Latitude",
                      "Latitude"
                    ]
                  }
                }
              },
              "required": [
                "success",
                "InviteList"
              ]
            }
          }
        }
      }
    },

    "/get-invited-to-game": {
      "post": {
        "summary": "Get players invited to game",
        "description": "Get players invited to game",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [{
          "in": "body",
          "name": "body",
          "description": "Parameters",
          "required": false,
          "schema": {
            "type": "object",
            "properties": {
              "GameID": {
                "type": "integer"
              }
            },
            "required": [
              "GameID"
            ]
          }
        }],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "integer",
                  "description": "0: Success, 1: Server error, 2: Authorization error"
                },
                "InviteList": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "FromID": {
                        "type": "integer"
                      },
                      "GameID": {
                        "type": "integer"
                      },
                      "Time": {
                        "type": "integer"
                      }
                    },
                    "required": [
                      "FromID",
                      "GameID",
                      "Time"
                    ]
                  }
                }
              },
              "required": [
                "success",
                "InviteList"
              ]
            }
          }
        }
      }
    },

    "/respond-to-game-application": {
      "post": {
        "summary": "Respond to game application",
        "description": "Respond to game application",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [{
          "in": "body",
          "name": "body",
          "description": "Parameters",
          "required": false,
          "schema": {
            "type": "object",
            "properties": {
              "GameID": {
                "type": "integer"
              },
              "UserID": {
                "type": "integer"
              },
              "Response": {
                "type": "integer",
                "description": "0: reject, 1: accept"
              }
            },
            "required": [
              "GameID",
              "UserID",
              "Response"
            ]
          }
        }],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "integer",
                  "description": "0: Success, 1: Server error, 2: Authorization error"
                }
              },
              "required": [
                "success"
              ]
            }
          }
        }
      }
    },

    "/get-owned-games": {
      "post": {
        "summary": "Get user owned games",
        "description": "Get user owned games",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "integer",
                  "description": "0: success, 1: server error"
                },
                "Games": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "UserID": {
                        "type": "integer"
                      },
                      "FirstName": {
                        "type": "string"
                      },
                      "LastName": {
                        "type": "string"
                      },
                      "PictureURL": {
                        "type": "string"
                      },
                      "GameID": {
                        "type": "integer"
                      },
                      "MeetingPlace": {
                        "type": "string"
                      },
                      "Description": {
                        "type": "string"
                      },
                      "HasTransport": {
                        "type": "boolean"
                      },
                      "GameTime": {
                        "type": "integer"
                      },
                      "GameTitle": {
                        "type": "string"
                      },
                      "TimeCreated": {
                        "type": "integer"
                      },
                      "Distance": {
                        "type": "number"
                      },
                      "Lat": {
                        "type": "number"
                      },
                      "Lon": {
                        "type": "number"
                      },
                      "IsCustomVenue": {
                        "type": "boolean"
                      },
                      "Venue": {
                        "type": "integer"
                      },
                      "ApplicationType": {
                        "type": "integer"
                      },
                      "PositionsOpen": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "ID": {
                              "type": "integer"
                            },
                            "GameID": {
                              "type": "integer"
                            },
                            "Position": {
                              "type": "integer"
                            },
                            "UserID": {
                              "type": "integer"
                            }
                          },
                          "required": [
                            "ID",
                            "GameID",
                            "Position",
                            "UserID"
                          ]
                        }
                      },
                      "PositionsTaken": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "ID": {
                              "type": "integer"
                            },
                            "GameID": {
                              "type": "integer"
                            },
                            "Position": {
                              "type": "integer"
                            },
                            "UserID": {
                              "type": "integer"
                            }
                          },
                          "required": [
                            "ID",
                            "GameID",
                            "Position",
                            "UserID"
                          ]
                        }
                      },
                      "MaxPlayers": {
                        "type": "integer"
                      },
                      "PlayersJoined": {
                        "type": "integer"
                      },
                      "SurfaceType": {
                        "type": "integer"
                      },
                      "AvgAbility": {
                        "type": "number"
                      },
                      "AvgAge": {
                        "type": "integer"
                      },
                      "Cost": {
                        "type": "number"
                      },
                      "ShinPads": {
                        "type": "boolean"
                      }
                    },
                    "required": [
                      "UserID",
                      "FirstName",
                      "LastName",
                      "PictureURL",
                      "GameID",
                      "MeetingPlace",
                      "Description",
                      "HasTransport",
                      "GameTime",
                      "TimeCreated",
                      "Distance",
                      "Lat",
                      "Lon",
                      "IsCustomVenue",
                      "Venue",
                      "ApplicationType",
                      "PositionsOpen",
                      "PositionsTaken",
                      "MaxPlayers",
                      "PlayersJoined",
                      "SurfaceType",
                      "AvgAbility",
                      "AvgAge",
                      "Cost",
                      "ShinPads"
                    ]
                  }
                }
              },
              "required": [
                "success",
                "Games"
              ]
            }
          }
        }
      }
    },

    "/get-associated-games": {
      "post": {
        "summary": "Get the games users own AND they are playing in. ",
        "description": "This endpoint will not return any duplicates.",
        "responses": {
          "200": {
            "description": "successful response",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "integer",
                  "description": "0: success, 1: server error"
                },
                "games": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "userid": {
                        "type": "integer"
                      },
                      "firstname": {
                        "type": "string"
                      },
                      "lastname": {
                        "type": "string"
                      },
                      "pictureurl": {
                        "type": "string"
                      },
                      "gameid": {
                        "type": "integer"
                      },
                      "meetingplace": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      },
                      "hastransport": {
                        "type": "boolean"
                      },
                      "gametime": {
                        "type": "integer"
                      },
                      "gametitle": {
                        "type": "string"
                      },
                      "timecreated": {
                        "type": "integer"
                      },
                      "distance": {
                        "type": "number"
                      },
                      "lat": {
                        "type": "number"
                      },
                      "lon": {
                        "type": "number"
                      },
                      "iscustomvenue": {
                        "type": "boolean"
                      },
                      "venue": {
                        "type": "integer"
                      },
                      "applicationtype": {
                        "type": "integer"
                      },
                      "positionsopen": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer"
                            },
                            "gameid": {
                              "type": "integer"
                            },
                            "position": {
                              "type": "integer"
                            },
                            "userid": {
                              "type": "integer"
                            }
                          },
                          "required": [
                            "id",
                            "gameid",
                            "position",
                            "userid"
                          ]
                        }
                      },
                      "positionstaken": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer"
                            },
                            "gameid": {
                              "type": "integer"
                            },
                            "position": {
                              "type": "integer"
                            },
                            "userid": {
                              "type": "integer"
                            }
                          },
                          "required": [
                            "id",
                            "gameid",
                            "position",
                            "userid"
                          ]
                        }
                      },
                      "maxplayers": {
                        "type": "integer"
                      },
                      "playersjoined": {
                        "type": "integer"
                      },
                      "surfacetype": {
                        "type": "integer"
                      },
                      "avgability": {
                        "type": "number"
                      },
                      "avgage": {
                        "type": "integer"
                      },
                      "cost": {
                        "type": "number"
                      },
                      "shinpads": {
                        "type": "boolean"
                      }
                    },
                    "required": [
                      "userid",
                      "firstname",
                      "lastname",
                      "pictureurl",
                      "gameid",
                      "meetingplace",
                      "description",
                      "hastransport",
                      "gametime",
                      "timecreated",
                      "distance",
                      "lat",
                      "lon",
                      "iscustomvenue",
                      "venue",
                      "applicationtype",
                      "positionsopen",
                      "positionstaken",
                      "maxplayers",
                      "playersjoined",
                      "surfacetype",
                      "avgability",
                      "avgage",
                      "cost",
                      "shinpads"
                    ]
                  }
                }
              },
              "required": [
                "success",
                "games"
              ]
            }
          }
        }
      }
    },

    "/get-joined-games": {
      "post": {
        "summary": "get the games the user has been accepted into",
        "description": "get the games the user has been accepted into",
        "responses": {
          "200": {
            "description": "successful response",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "integer",
                  "description": "0: success, 1: server error"
                },
                "games": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "userid": {
                        "type": "integer"
                      },
                      "firstname": {
                        "type": "string"
                      },
                      "lastname": {
                        "type": "string"
                      },
                      "pictureurl": {
                        "type": "string"
                      },
                      "gameid": {
                        "type": "integer"
                      },
                      "meetingplace": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      },
                      "hastransport": {
                        "type": "boolean"
                      },
                      "gametime": {
                        "type": "integer"
                      },
                      "gametitle": {
                        "type": "string"
                      },
                      "timecreated": {
                        "type": "integer"
                      },
                      "distance": {
                        "type": "number"
                      },
                      "lat": {
                        "type": "number"
                      },
                      "lon": {
                        "type": "number"
                      },
                      "iscustomvenue": {
                        "type": "boolean"
                      },
                      "venue": {
                        "type": "integer"
                      },
                      "applicationtype": {
                        "type": "integer"
                      },
                      "positionsopen": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer"
                            },
                            "gameid": {
                              "type": "integer"
                            },
                            "position": {
                              "type": "integer"
                            },
                            "userid": {
                              "type": "integer"
                            }
                          },
                          "required": [
                            "id",
                            "gameid",
                            "position",
                            "userid"
                          ]
                        }
                      },
                      "positionstaken": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer"
                            },
                            "gameid": {
                              "type": "integer"
                            },
                            "position": {
                              "type": "integer"
                            },
                            "userid": {
                              "type": "integer"
                            }
                          },
                          "required": [
                            "id",
                            "gameid",
                            "position",
                            "userid"
                          ]
                        }
                      },
                      "maxplayers": {
                        "type": "integer"
                      },
                      "playersjoined": {
                        "type": "integer"
                      },
                      "surfacetype": {
                        "type": "integer"
                      },
                      "avgability": {
                        "type": "number"
                      },
                      "avgage": {
                        "type": "integer"
                      },
                      "cost": {
                        "type": "number"
                      },
                      "shinpads": {
                        "type": "boolean"
                      }
                    },
                    "required": [
                      "userid",
                      "firstname",
                      "lastname",
                      "pictureurl",
                      "gameid",
                      "meetingplace",
                      "description",
                      "hastransport",
                      "gametime",
                      "timecreated",
                      "distance",
                      "lat",
                      "lon",
                      "iscustomvenue",
                      "venue",
                      "applicationtype",
                      "positionsopen",
                      "positionstaken",
                      "maxplayers",
                      "playersjoined",
                      "surfacetype",
                      "avgability",
                      "avgage",
                      "cost",
                      "shinpads"
                    ]
                  }
                }
              },
              "required": [
                "success",
                "games"
              ]
            }
          }
        }
      }
    },

    "/get-game-info": {
      "post": {
        "summary": "Get game info",
        "description": "Get game info",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [{
          "in": "body",
          "name": "body",
          "description": "Parameters",
          "required": false,
          "schema": {
            "type": "object",
            "properties": {
              "GameID": {
                "type": "integer"
              }
            },
            "required": [
              "GameID"
            ]
          }
        }],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "integer",
                  "description": "0: success, 1: server error"
                },
                "description": { "type": "null" },
                "UserID": { "type": "integer" },
                "FirstName": { "type": "string" },
                "LastName": { "type": "string" },
                "PictureURL": { "type": "string" },
                "GameID": { "type": "integer" },
                "Latitude": { "type": "integer" },
                "Longitude": { "type": "integer" },
                "HasTransport": { "type": "integer" },
                "GameTime": { "type": "integer" },
                "TimeCreated": { "type": "integer" },
                "Distance": { "type": "number" },
                "MeetingPlace": { "type": "string" },
                "IsCustomVenue": { "type": "integer" },
                "Unavailable": { 
                  "type": "array",
                    "items": {
                      "type": "object",
                        "properties": {
                          "UserID": { "type": "integer" },
                          "FirstName": { "type": "string" },
                          "LastName": { "type": "string" },
                          "PictureURL": { "type": "string" }
                        }
                    }
                },
                "Unsure": { 
                  "type": "array",
                    "items": {
                      "type": "object",
                        "properties": {
                          "UserID": { "type": "integer" },
                          "FirstName": { "type": "string" },
                          "LastName": { "type": "string" },
                          "PictureURL": { "type": "string" }
                        }
                    }
                },
                "Available": { 
                  "type": "array",
                    "items": {
                      "type": "object",
                        "properties": {
                          "UserID": { "type": "integer" },
                          "FirstName": { "type": "string" },
                          "LastName": { "type": "string" },
                          "PictureURL": { "type": "string" }
                        }
                    }
                },
                "SurfaceType": { "type": "integer" },
                "AvgAbility": { "type": "integer" },
                "AvgAge": { "type": "integer" },
                "Cost": { "type": "integer" },
                "ShinPads": { "type": "integer" },
                "Venue": { "type": "integer" }
              },
                "required": [
                  "success",
                  "description",
                  "UserID",
                  "FirstName",
                  "LastName",
                  "PictureURL",
                  "GameID",
                  "Latitude",
                  "Longitude",
                  "HasTransport",
                  "GameTime",
                  "TimeCreated",
                  "Distance",
                  "MeetingPlace",
                  "IsCustomVenue",
                  "ApplicationType",
                  "MaxPlayers",
                  "PlayersJoined",
                  "SurfaceType",
                  "AvgAbility",
                  "AvgAge",
                  "Cost",
                  "ShinPads",
                  "Venue"
                ]
            }
          }
        }
      }
    },

  "/get-game-accepted-players": {
    "post": {
      "summary": "Get game accepted by players",
        "description": "Get game accepted by players",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [{
          "in": "body",
          "name": "body",
          "description": "Parameters",
          "required": false,
          "schema": {
            "type": "object",
            "properties": {
              "GameID": {
                "type": "integer"
              }
            },
            "required": [
              "GameID"
            ]
          }
        }],
        "responses": {
          "200": {
            "description": "Successful response",
              "schema": {
                "type": "object",
                  "properties": {
                    "success": {
                      "type": "integer",
                        "description": "0: success, 1: server error"
                    },
                      "Players": {
                        "type": "array",
                          "items": {
                            "type": "object",
                              "properties": {
                                "UserID": {
                                  "type": "integer"
                                },
                                  "FirstName": {
                                    "type": "string"
                                  },
                                  "LastName": {
                                    "type": "string"
                                  },
                                  "PictureURL": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "UserID",
                      "FirstName",
                      "LastName",
                      "PictureURL"
                    ]
                  }
                }
              },
              "required": [
                "success",
                "Players"
              ]
            }
          }
        }
      }
    },

    "/leave-game": {
      "post": {
        "summary": "Leave a game the user has been accepted into",
        "description": "Leave a game the user has been accepted into",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [{
          "in": "body",
          "name": "body",
          "description": "Parameters",
          "required": false,
          "schema": {
            "type": "object",
            "properties": {
              "GameID": {
                "type": "integer"
              }
            },
            "required": [
              "GameID"
            ]
          }
        }],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "integer",
                  "description": "0: success, 1: server error"
                }
              },
              "required": [
                "success"
              ]
            }
          }
        }
      }
    },

    "/notifications/get-all": {
      "post": {
        "summary": "Get all notifications",
        "description": "Get all notifications",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "object",
              "properties": {
                "Notifications": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "ID": {
                        "type": "integer"
                      },
                      "userID": {
                        "type": "integer"
                      },
                      "type": {
                        "type": "integer"
                      },
                      "timestamp": {
                        "type": "integer"
                      },
                      "data": {
                        "type": "string"
                      },
                      "pretty_message": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "ID",
                      "userID",
                      "type",
                      "timestamp",
                      "data"
                    ]
                  }
                },
                "success": {
                  "type": "integer",
                  "description": "0: success, 1: server error"
                }
              },
              "required": [
                "Notifications",
                "success"
              ]
            }
          }
        }
      }
    },

    "/teams/create": {
      "post": {
        "summary": "create a team",
        "description": "Creates a team. TeamSize should be either 6 or 11.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [{
          "in": "body",
          "name": "body",
          "description": "Parameters",
          "required": false,
          "schema": {
            "type": "object",
            "properties": {
              "Name": {
                "type": "string"
              },
              "TeamSize": {
                "type": "integer",
                "default": 11,
                "description": "Allowed values [6, 11]"
              },
              "Picture": {
                "type": "string"
              },
              "CoverPicture": {
                "type": "string"
              },
              "Lat": {
                "type": "number"
              },
              "Lon": {
                "type": "number"
              }
            },
            "required": [
              "Name",
              "TeamSize"
            ]
          }
        }],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "object",
              "properties": {
                "Success": {
                  "type": "integer",
                  "description": "0: success, 1: server error"
                },
                "TeamID": {
                  "type": "integer"
                }
              },
              "required": [
                "success",
                "TeamID"
              ]
            }
          }
        }
      }
    },

    "/get-own-teams": {
      "post": {
        "summary": "Get owned teams of user",
        "description": "Get owned teams of user",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "object",
              "properties": {
                "Teams": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "TeamID": {
                        "type": "integer"
                      },
                      "TeamName": {
                        "type": "string"
                      },
                      "isOwnTeam": {
                        "type": "boolean"
                      },
                      "PictureURL": {
                        "type": "string"
                      },
                      "Players": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "Confirmed": {
                              "type": "integer"
                            },
                            "FirstName": {
                              "type": "string"
                            },
                            "LastName": {
                              "type": "string"
                            },
                            "PictureURL": {
                              "type": "string"
                            },
                            "PositionID": {
                              "type": "integer"
                            },
                            "UserID": {
                              "type": "integer"
                            },
                            "TeamID": {
                              "type": "integer"
                            }
                          },
                          "required": [
                            "Confirmed",
                            "FirstName",
                            "LastName",
                            "PictureURL",
                            "PositionID",
                            "UserID",
                            "TeamID"
                          ]
                        }
                      }
                    },
                    "required": [
                      "TeamID",
                      "TeamName",
                      "isOwnTeam",
                      "PictureURL",
                      "Players"
                    ]
                  }
                },
                "Success": {
                  "type": "integer"
                },
                "Description": {
                  "type": "null"
                }
              },
              "required": [
                "Teams",
                "Success",
                "Description"
              ]
            }
          }
        }
      }
    },

    "/get-teams": {
      "post": {
        "summary": "Get the teams you BELONG to, but do not own.",
        "description": "Get the teams you BELONG to, but do not own.",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "integer",
                  "description": "0: success, 1: server error"
                },
                "Teams": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "TeamId": {
                        "type": "integer"
                      },
                      "TeamName": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "TeamId",
                      "TeamName"
                    ]
                  }
                }
              },
              "required": [
                "success",
                "Teams"
              ]
            }
          }
        }
      }
    },

    "/create-team-duty": {
      "post": {
        "summary": "create a team duty.",
        "description": "creates a duty. you pass in the name of the duty, and the team you want it assigned to. you must be the team manager to use this request.",
        "parameters": [{ 
          "in": "body",
          "name": "body",
          "description": "Parameters",
          "required": false,
          "schema": {
            "type": "object",
            "properties": {
              "TeamID": {
                "type": "integer"
              },
              "DutyName": {
                "type": "string"
              }
            },
            "required": [
                "TeamID",
                "DutyName"
            ]
          }
        }],
        "responses": {
          "200": {
            "description": "successful response",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "integer",
                  "description": "0: success, 1: server error, 2: authentication error (need to be the manager)"
                }
              },
              "required": [
                "success"
              ]
            }
          }
        }
      }
    },

    "/assign-team-duty": {
      "post": {
        "summary": "Assigns users to a given duty.",
        "description": "You pass in a duty ID, and a list of user IDs. This will assign those users to the duty. You need to be the team manager to do this.",
        "parameters": [{ 
          "in": "body",
          "name": "body",
          "description": "Parameters",
          "required": false,
          "schema": {
            "type": "object",
            "properties": {
              "DutyID": {
                "type": "integer"
              },
              "UserIDs": {
                "type": "array",
                "items": {
                  "type": "integer"
                }
              }
            },
            "required": [
              "DutyID",
              "UserIDs"
            ]
          }
        }],
        "responses": {
          "200": {
            "description": "successful response",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "integer",
                  "description": "0: success, 1: server error, 2: authentication error (need to be the manager)"
                }
              },
              "required": [
                "success"
              ]
            }
          }
        }
      }
    },

    "/remove-team-member-duty": {
      "post": {
        "summary": "Removes a team member from a duty.",
        "description": "Pass in a duty ID and a user ID, and it takes the user off the list of people assigned to that duty. Does NOT remove the duty - only the link between user and duty. Need to be the team manager to do this.",
        "parameters": [{ 
          "in": "body",
          "name": "body",
          "description": "Parameters",
          "required": false,
          "schema": {
            "type": "object",
            "properties": {
              "DutyID": {
                "type": "integer"
              },
              "UserID": {
                "type": "array",
                "items": {
                  "type": "integer"
                }
              }
            },
            "required": [
              "DutyID",
              "UserID"
            ]
          }
        }],
        "responses": {
          "200": {
            "description": "successful response",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "integer",
                  "description": "0: success, 1: server error, 2: authentication error (need to be the manager)"
                }
              },
              "required": [
                "success"
              ]
            }
          }
        }
      }
    },

    "/get-team-duties": {
      "post": {
        "summary": "Gets a list of team duties.",
        "description": "Pass in team ID, gets a list of team duties. You need to be in the team to do this. Keys in the JSON object 'Duties' will be the Duty IDs. The objects assigned to these keys will be the duty data.",
        "parameters": [{ 
          "in": "body",
          "name": "body",
          "description": "Parameters",
          "required": false,
          "schema": {
            "type": "object",
            "properties": {
              "TeamID": {
                "type": "integer"
              }
            },
            "required": [
              "TeamID"
            ]
          }
        }],
        "responses": {
          "200": {
            "description": "successful response",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "integer",
                  "description": "0: success, 1: server error, 2: authentication error (need to be the manager)"
                },
                "Duties": {
                  "type": "object",
                  "properties": {
                    "Duties": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "DutyID": { "type": "integer" },
                          "DutyName": { "type": "string" },
                          "UserIDs": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "UserID": { "type": "integer" },
                                "PictureURL": { "type": "string" }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "required": [
                "success",
                "Duties"
              ]
            }
          }
        }
      }
    },

    "/remove-team-duty": {
      "post": {
        "summary": "Removes a duty.",
        "description": "Given a DutyID, will remove a duty from a team, and any user assignments. You need to be the team manager to do this.",
        "parameters": [{ 
          "in": "body",
          "name": "body",
          "description": "Parameters",
          "required": false,
          "schema": {
            "type": "object",
            "properties": {
              "DutyID": {
                "type": "integer"
              }
            },
            "required": [
              "DutyID"
            ]
          }
        }],
        "responses": {
          "200": {
            "description": "successful response",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "integer",
                  "description": "0: success, 1: server error, 2: authentication error (need to be the manager)"
                }
              },
              "required": [
                "success"
              ]
            }
          }
        }
      }
    },

    "/get-associated-teams": {
      "post": {
        "summary": "Get the teams user is associated with",
        "description": "Get the teams user is associated with.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [{
          "in": "body",
          "name": "body",
          "description": "Parameters",
          "required": false,
          "schema": {
            "type": "object",
            "properties": {
              "UserID": {
                "type": "integer"
              }
            },
            "required": [
              "UserID"
            ]
          }
        }],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "integer",
                  "description": "0: success, 1: server error"
                },
                "Teams": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "TeamId": {
                        "type": "integer"
                      },
                      "TeamName": {
                        "type": "string"
                      },
                      "isOwnTeam": {
                        "type": "string"
                      },
                      "PictureURL": {
                        "type": "string"
                      },
                      "Players": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "Confirmed": {
                              "type": "integer"
                            },
                            "FirstName": {
                              "type": "string"
                            },
                            "LastName": {
                              "type": "string"
                            },
                            "PictureURL": {
                              "type": "string"
                            },
                            "PositionID": {
                              "type": "integer"
                            },
                            "TeamID": {
                              "type": "integer"
                            },
                            "UserID": {
                              "type": "integer"
                            }
                          },
                          "required": [
                            "Confirmed",
                            "FirstName",
                            "LastName",
                            "PictureURL",
                            "PositionID",
                            "TeamID",
                            "UserID"
                          ]
                        }
                      }
                    },
                    "required": [
                      "TeamId",
                      "TeamName",
                      "isOwnTeam",
                      "PictureURL",
                      "Players"
                    ]
                  }
                }
              },
              "required": [
                "success",
                "Teams"
              ]
            }
          }
        }
      }
    },

    "/invite-to-team": {
      "post": {
        "summary": "Invite a user to team",
        "description": "Invite a user to team.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [{
          "in": "body",
          "name": "body",
          "description": "Parameters",
          "required": false,
          "schema": {
            "type": "object",
            "properties": {
              "TeamID": {
                "type": "integer"
              },
              "UserIDs": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "UserID": {
                      "type": "integer"
                    },
                    "PositionID": {
                      "type": "integer"
                    },
                    "TeamType": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "UserID",
                    "PositionID",
                    "TeamType"
                  ]
                }
              }
            },
            "required": [
              "TeamID",
              "UserIDs"
            ]
          }
        }],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "integer",
                  "description": "0: success, 1: server error"
                }
              },
              "required": [
                "success"
              ]
            }
[...]
